<app-nav></app-nav>
<div class="container">
    <div class="jumbotron">
      <h1>Counter Sample</h1>
      <p class="lead">
          This is demostration of counter. One is simple angular counter component and the other use Redux to rewrite.
      </p>
    </div>
  </div>
  <div class="container">
    <h2>Normal counter</h2>
    <app-counter *ngFor="let number of [0,1,2]"></app-counter>
    <hr>

    <h2>Redux counter</h2>
    <app-redux-counter *ngFor="let number of [0,1,2]"></app-redux-counter>
  </div>
<app-footer></app-footer>
